.defaults {
    font-size: 64px;
}

/* bug for verifying postccs configuration, https://github.com/luisrudge/postcss-flexbugs-fixes#input-2 */
.bug4 { flex: 1; }
.bug6 { flex: 1; }
.bug8a { flex: 1 0 calc(1vw - 1px); }